body{
    background-color: gray;
}


.div0{
    background-color: white;
    border: 6px solid red;
    border-radius: 20px;
    text-align: center;
    font-weight: 800;
    box-shadow: 6px 6px rgb(116, 30, 116);
}

.div1{
    color: rgba(255, 0, 0, 0.63);
    text-shadow:2px 2px 3px rgb(97, 75, 75);
    font-style: italic;
    width:40%;
    margin-left: 25rem;
    padding: 0px 40px 0px 40px;
}

.parent{
    border: 8px solid green;
    position: relative;
    height: 600px;

}
 .div2{
    background-color: white;
    border: 6px solid red;
    border-radius: 20px;
    text-align: center;
    font-weight: 800;
    box-shadow: 6px 6px rgb(116, 30, 116);
    height: 250px;
    width: 220px;
    text-shadow:3px 2px 3px rgb(173, 118, 170);
} 

.l1{
    position: absolute;
    font-size: 24px;
    text-align: center;
}

.r1{
    position: absolute;
    right: 40px;
}

.l2{
    position: absolute;
    bottom: 30px;
    font-size: 24px;
    text-align: left;
}

.r2{
    position: absolute;
    right: 40px;
    bottom: 25px;
}

.btn{
    background-color: red;
    border-radius:10px;
    border: 2px solid black;
}

.stick{
    background-color: chartreuse;
    bottom: 20px;
    position: fixed;
    width: 40%;
    margin-left: 30rem;
    font-style: italic;
    color: rgb(148, 4, 4);
    height: 80px;
}

.stk1{
    font-size: 28px;
    float: left;
    padding: 25px;
}

.stk2{
    font-size: 22px;
    padding: 20px 30px; 
    margin-left: 50px;
}
.div3{
    border: 8px solid rgb(116, 30, 116);
    background-color: green;
    margin: 20px 260px;
    text-align: center;
    height: 750px;
}

.fruits{
    border: 4px solid grey;
    background-color: khaki;
    font-style: italic;
    font-size: 22px;
    margin: 5px 5px 5px 5px;
    float: left;
}

.item{
    float: right;
    border: 4px solid grey;
    background-color: khaki;
    font-style: italic;
    font-size: 22px;
    padding: 5px 5px 5px 5px;
}
